body{
    background-color:rgb(252, 229, 233);
}
.container{
    display: grid;
    height: 43rem;
    text-align:center;
    

    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    grid-template-rows: 0.2fr 0.2fr 1.2fr 0.2fr;
    grid-template-areas:
    'header header header header'
    'sideC middleB middleB sideE'
    'sideC middleD middleD sideE'
    'footer footer footer footer' 
    ;
    column-gap: 0.5rem;
    row-gap: 0.8rem;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    font-size: 15pt;
    border: 0.2rem solid red;
    background-color: white;
}

.header{
    grid-area: header;
}

.sideC{
    grid-area: sideC;
}

.middleB{
    grid-area: middleB;
}

.sideE{
    grid-area: sideE;
}

.middleD{
    grid-area: middleD;
}

.footer{
    grid-area: footer;
}

@media only screen and (max-width:60rem){
    .container{
        grid-template-columns: 0.5fr 2fr;
        grid-template-rows: 0.3fr 0.3fr 1.5fr 0.3fr;
        grid-template-areas:
        'header header'
        'middleB middleB'
        'sideC middleD'
        'sideE footer' 
        ;
        grid-gap: 0.8rem;
    }
    
}

@media only screen and (max-width:40rem){
    .container{
        grid-template-columns: 0.5fr 2fr;
        grid-template-rows: 0.3fr 0.3fr 1.5fr 0.3fr;
        grid-template-areas:
        'header header'
        'middleB middleB'
        'sideC middleD'
        'sideE footer' 
        ;
        grid-gap: 0.8rem;
    }
    
}

@media only screen and (max-width:35rem){
    .container{
        height: 97vh;
        grid-template-columns: auto;
        grid-template-rows: 0.2fr 0.2fr 0.6fr 0.2fr 0.2fr 0.2fr;
        grid-template-areas:
        'header'
        'middleB'
        'middleD'
        'sideC'
        'sideE' 
        'footer' 
        ;
        grid-gap: 0.8rem;
    }
    
}



































































