
div{
    text-align: center;
    font-size: 1.875rem;
    width: auto;
    height: 4rem;
    border: 0.125rem solid red;
    border-radius:  0.438rem;
}

.header{
    grid-area: header;
}

.sideC{
    width: 6rem;
    height: 28rem;

    grid-area: sideC;
}

.middleB{
    width: 45rem;
    height: 5rem;

    grid-area: middleB;
}

.sideE{
    width: 6rem;
    height: 28rem;
   
    grid-area: sideE;
}

.middleD{
    width: 45rem;
    height: 22rem;

    grid-area: middleD;
}

.footer{

    grid-area: footer;
}

.container{
    max-width: 59rem;
    margin: 0 auto;
    
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas:
    'header header header'
    'sideC middleB sideE'
    'sideC middleD sideE'
    'footer footer footer' 
    ;
    gap: 0.625rem;
}

@media only screen and (max-width:60.438rem) {
    
    .container{
        max-width: 45rem;
        margin: 0 auto;

        grid-template-columns: auto auto auto;
        grid-template-areas: 
        'header header header'
        'middleB middleB middleB'
        'sideC middleD middleD'
        'sideE footer footer'
        ;
    }

    .middleB{
        width: auto;
        height: 4rem;
    }

    .middleD{
        width: 40rem;
        height:23.75rem;
    }

    .sideC{
        height: 23.75rem;
    }
    .sideE{
        height: 4.063rem;
    }

}

@media only screen and (max-width:50rem) {
    
    .container{
        max-width: 30rem;
        margin: 0 auto;

        grid-template-columns: auto;
        grid-template-areas: 
        'header'
        'middleB'
        'middleD'
        'sideC' 
        'sideE' 
        'footer'
        ;
    }

    .middleB{
        width: auto;
        height: 4rem;
    }

    .middleD{
        width: auto;
        height:18.75rem ;
    }

    .sideC{
        height: 4rem;
        width: auto;
    }
    .sideE{
        height: 4rem;
        width: auto;
    }

}




